@charset "utf-8";

/*
"Spartan"
'STIX Two Text'
'Noto Sans KR'
*/

.department {
	width: 100%;
	background: #f8f8f8;

	.sub_visual {
		background: #ccc;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		opacity: 0.8;
	}

	.inner {
		width: 1180px;
		margin: 0 auto;
		position: relative;

		h1{
			font: bold 50px/1 'Spartan'; color: #444;
			text-align: center;
			margin-bottom: 10%;
		}
		.team_name {
			width: 100%;
			position: absolute;
			top: 4%;
			left: 28%;
			
			 
			li {
				float: left;
				padding-right: 20px;
				margin-right: 20px;
				border-right: 1px solid #555;

				a {
					font: bold 18px/1 'Noto Sans KR';
					color: #222;

				
				}
				&:last-child{
					border-right: none;
				}
			}
		}

		.wrap {
			width: 100%;

			&::before {
				content: "";
				display: block;
				width: 450px;
				height: 2px;
				background: #111;
				position: absolute;
				top: 7%;
			}


			&::after {
				content: "";
				display: block;
				clear: both;
				width: 100%;
				height: 2px;
				background: #111;
				position: absolute;
				top: 22%;
				
			}
			

			.company {
				width: 1180px;
				height: 250px;
				margin-bottom: 10%;
				position: relative;
				
				
				
				.main_pic {
					width: 450px;
					height: 100%;
					background: url(../img/members.jpg) no-repeat;
					background-size: cover; background-position: center;
					float: left;

				
				}
				.txt {
					width: 55%;
					position: absolute;
					right: 3%;
					top: 50%;
					transform: translateY(-50%);

					h2 {
						font: bold 30px/1 'Noto Sans KR';
						color: #222;
						margin-bottom: 20px;

					}
					p {
						font: bold 15px/1.7 'Spartan';
						color: #555;
						margin-bottom: 20px;
					}
					a {
						display: inline-block;
						text-align: center;
						border-radius: 5px;
						width: 250px; height: 50px;
						background: rgba(216, 216, 216, 0.665);
						font: 13px/50px 'Spartan'; color: rgb(133, 128, 128);
						margin-right: 20px;
					}
					
					
				}
			}

			.team {
				display: inline-block;
				width: 100%;
				text-align: center;

				h1 {
					font: bold 50px/1 'Noto Sans KR';
					color: #222;
					margin-bottom: 55px;
				}
				h2 {
					font: bold 23px/1.5 'Noto Sans KR';
					color: #666;
					margin-bottom: 100px;
				}

				
				
				article {
					width: 260px;
					height: 350px;
					border-radius: 7px;
					margin-right: 46px;
					background: #fff;
					margin-bottom: 60px;
					box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.05);
					float: left;
					position: relative;
					
					
					.pic {
						width: 120px;
						height: 120px;
						border: 5px solid pink;
						border-radius: 50%;
						background: rgba(153, 127, 127, 0.405);
						margin: 30px auto 45px;
						box-sizing: border-box;
						box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.05);
						position: relative;
						overflow: hidden;

						.txt {
							width: 100%; height: 100%; padding: 20px;
							// position: absolute; top: -100%; left: 0px;
							background-color: rgba(0, 0, 0, 0.7);
							border-radius: 50%; 
							transition: 0.5s;
							opacity: 0;
							
							text-align: center;

							p {
								
								font: bold 18px/1 'STIX Two Text'; color: #fff;
								letter-spacing: 1.7px;
								position: absolute;
								top: 50%; left: 50%; transform: translate(-50%, -50%);
							}
						}
						&:hover .txt {
							top: 0%;
							opacity: 1;
						}

					}
					&:nth-of-type(1) .pic{
						background-image: url("../img/mem01.jpg");
						background-size: cover;
						background-position: center;
						
					}
					&:nth-of-type(2) .pic{
						background-image: url("../img/mem02.jpg");
						background-size: cover;
						background-position: center;
					}
					&:nth-of-type(3) .pic{
						background-image: url("../img/mem03.jpg");
						background-size: cover;
						background-position: center;
					}
					&:nth-of-type(4) .pic{
						background-image: url("../img/mem04.jpg");
						background-size: cover;
						background-position: center;
					}
					&:nth-of-type(5) .pic{
						background-image: url("../img/mem05.jpg");
						background-size: cover;
						background-position: center;
					}
					&:nth-of-type(6) .pic{
						background-image: url("../img/mem06.jpg");
						background-size: cover;
						background-position: center;
					}
					&:nth-of-type(7) .pic{
						background-image: url("../img/mem07.jpg");
						background-size: cover;
						background-position: center;
					}
					&:nth-of-type(8) .pic{
						background-image: url("../img/mem08.jpg");
						background-size: cover;
						background-position: center;
					}
					&:nth-of-type(9) .pic{
						background-image: url("../img/mem09.jpg");
						background-size: cover;
						background-position: center;
					}
					&:nth-of-type(10) .pic{
						background-image: url("../img/mem10.jpg");
						background-size: cover;
						background-position: center;
					}
					&:nth-of-type(11) .pic{
						background-image: url("../img/mem11.jpg");
						background-size: cover;
						background-position: center;
					}
					&:nth-of-type(12) .pic{
						background-image: url("../img/mem12.jpg");
						background-size: cover;
						background-position: center;
					}
					>h3 {
						font: bold 17px/1 'Spartan';
						color: #222;
						margin-bottom: 10px;
					}
					>p {
						font:bold 13px/1.5 'Spartan';
						color: #999; margin-bottom: 30px;
					}
					>a{
						display: inline-block;
						width: 40px; height: 40px;
						background :rgba(216, 216, 216, 0.665);
						border-radius: 10px;
						text-align: center;
						line-height: 40px;
						color: rgb(133, 128, 128);
						transition: 1s;

						&:hover i {
							color: #fff;
						}
					}
					
					
					&:nth-of-type(4n+0){
						margin-right: 0;
					}
				}
			}

		}
	}
}
